<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kurye Otomasyon Sistemi</title>

    <!-- Bootstrap -->
    <link href="{{ asset('Assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('Assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('Assets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{{ asset('Assets/vendors/animate.css/animate.min.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('Assets/build/css/custom.min.css') }}" rel="stylesheet">
    {#<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
    <script src="{{ asset('Assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('Assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</head>

<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">

                {% include "@App/alertmessages.html.twig" %}

                <form action="{{ path('login') }}" method="post">
                    <h1>Sistem Girişi</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="" name="_username" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required="" name="_password" />
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="javascript:void(0)" onclick="$('#loginSubmitButton').click()">Giriş</a>
                        <input type="submit" style="display: none" id="loginSubmitButton" />
                        {#<a class="reset_pass" href="{{ path('passwordreminder') }}">Şifremi Unuttum?</a>#}
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">
                            {#<a href="{{ path("signup") }}" class="to_register"> Hesap Oluştur </a>#}
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Kurye Otomasyon Sistemi</h1>
                            <p>©2018 Tüm Hakları Saklıdır!</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        {#<div id="register" class="animate form registration_form">
            <section class="login_content">
                <form>
                    <h1>Create Account</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="" />
                    </div>
                    <div>
                        <input type="email" class="form-control" placeholder="Email" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required="" />
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="index.html">Submit</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a href="#signin" class="to_register"> Log in </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>#}
    </div>
</div>
</body>
</html>
